@import url('https://fonts.cdnfonts.com/css/harry-p');

body {
    /* background-color: black; */
}

#navbar {
    display: flex;

}

#hp-logo {
    width: 55px;
    height: 55px;
    margin: 0 20px;
}

h1 {
    font-family: 'Harry P', sans-serif;
    font-size: 60px;
    word-spacing: 10px;
    color: #8d721a;
    margin-left: 25%;
    justify-content: center;
    align-items: center;
}

#searchInput {
    height: 20px;
    width: 100px;
    border: 3px solid #555;
    display: block;
    cursor: pointer;
    padding-left: 5px;
    margin-left: 90px;
    opacity: 0.7;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' class='bi bi-search' viewBox='0 0 18 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat right;

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(148, 142, 142, 0.6);
    filter: blur(5px);
    pointer-events: none;
    z-index: 999;
}

.overlay h1 {
    filter: none;
}

.popup-container {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 8px;
    z-index: 1000;
    display: none;
    max-height: 250px;
    overflow-y: hidden;
    overflow-x: hidden;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.popup-table {
    width: 100%;
    display: block;
    overflow: auto;
}

.popup-table th,
.popup-table td {
    border: 1px solid #ccc;
    padding: 7px;
    white-space: nowrap;
    box-sizing: border-box;
    width: 100px;
}

.popup-table th {
    font-weight: 600;
    font-size: 22px;
    font-family: 'Harry P', sans-serif;
    letter-spacing: 2px;
    color: #d3aa23;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    white-space: nowrap;
    box-sizing: border-box;
}

.popup-table tr {
    display: table-row;
    width: 100%;
    box-sizing: border-box;
}

.popup-house-logo {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-right: 5px;
}

.popup-table tbody {
    max-height: 300px;
    overflow-y: auto;
}

.table-container {
    width: 100%;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 5px;
}

.table-container tr td:last-child {
    text-align: center;
}


.cast-name {
    font-family: 'Harry P', sans-serif;
    letter-spacing: 4px;
    font-size: 30px;
}

.castNames {
    display: none;
}

.castNames.show {
    display: block;
}

.cast-container {
    width: 850px;
    margin: 0 auto;

}

#casts-details {
    display: flex;
    width: 100%;
    height: 380px;
    margin: 0 auto;
}

.imgContainer {
    width: 250px;
    height: 350px;
    border: 2px solid black;
}

.actor-img {
    width: 248px;
    height: 348px;
}



.briefInfoContainer {
    width: 400px;
    height: 200px;
    margin-left: 20px;
    margin-top: 50px;
}

.houseLogoContainer {
    height: 60px;
    margin-top: 30px;
    margin-left: 20px;
}

.house-logo {
    width: 60px;
    height: 60px;
}

hr {
    border-top: 3px dotted rgb(148, 84, 32);

}

span {
    font-weight: 1000;
}



.toggle-details-btn {
    cursor: pointer;
    transition: transform 0.3 ease-in-out;
}

.toggle-details-btn:hover {
    transform: scale(0.9)
}



.details-table {
    border-collapse: collapse;
    width: 500px;
}

.label-cell,
.value-cell {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}


.label-cell {
    font-weight: bold;
}

.details-table tr:nth-child(even) {
    background-color: #f9f9f9;
}
/* #more-details-container{

} */
.more-details-content {
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
}


.btn-go-back {
    /* margin-left: 15%; */
    margin-right: 30px;
    border-radius: 6px;
    /* margin-top: 70px; */
    padding: 5px;
    transition: transform 0.3 ease-in-out;
}

.btn-go-back:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.btn-go-forward {
    border-radius: 6px;
    padding: 5px;
    transition: transform 0.3 ease-in-out;
}

.btn-go-forward:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.comments-container {
    margin-top: 20px;
}

.comments-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.comment-item {
    padding: 5px 10px;
    margin-bottom: 5px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.comment-form-container {
    margin-top: 20px;
    /* display: flex-start; */
}

.comment-form {
    display: flex;
    align-items: center;
}

.comment-input {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.comment-submit-btn {
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #d3aa23;
    color: white;
    border: none;
    cursor: pointer;
}

.comment-submit-btn:hover {
    background-color: #b58b1a;
}