body {
    /* background-color: black; */
}

.popup-container {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1000;
    display: none;
    max-height: 200px;
    overflow-y: auto;
}

.popup-table {
    width: 100%;
    border-collapse: collapse;
}

.popup-table th,
.popup-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.popup-table th {
    font-weight: bold;
}

.popup-table thead {
    display: block;
}

.popup-table tbody {
    max-height: 300px;
    overflow-y: auto;
}

.popup-table tr {
    display: table-row;
}

.popup-house-logo {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-right: 5px;
}

.popup-table tbody {
    max-height: 150px;
    overflow-y: auto;
}


.castNames {
    display: none;
}

.castNames.show {
    display: block;
}

.actor-img {
    width: 200px;
    height: 350px;
    padding: 2px solid white;
    /* border-color:1px solid white; */
}

.house-logo {
    width: 100px;
    height: 100px;
}

span {
    font-weight: 1000;
}

.details-table {
    border-collapse: collapse;
    width: 100%;
}

.label-cell,
.value-cell {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.label-cell {
    font-weight: bold;
    /* Make label cells bold */
}

.details-table tr:nth-child(even) {
    background-color: #f9f9f9;
    /* Add background color to alternate rows for better readability */
}